# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# media files
/src/img/*
/src/sounds/*
/src/sounds-ipa/*

# except for the three example ones
# !/src/img/ 
# !/src/img/ 
# !/src/img/ 
# !/src/sounds/*
# !/src/sounds/*
# !/src/sounds/*
# !/src/sounds-ipa/*
# !/src/sounds-ipa/*
# !/src/sounds-ipa/*

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
