.flashcard {
	background-color: var(--bgc-box-std);
	border-radius: var(--border-radius-std);
	border: var(--border-std);
	color: var(--color-flashcard);
	display: block;
	height: 100%;
	margin: 0;
	padding: calc(var(--spacing-std) * 3) calc(var(--spacing-std) * 3) calc(var(--spacing-std) * 3 + 64px);
	position: relative;
	text-align: center;
	white-space: pre;

	height: calc(95vh - 80px);
	margin: 2vh 0;
	padding: 0;
	position: fixed;
	top: 80px;
	width: 75vw;
	z-index: 10;

	h1 + h2 {
		opacity: 0.5;
	}

	.btn-group {
		position: absolute;
		bottom: calc(var(--spacing-std) * 3);
	}
}
