nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			svg {
				display: block;
				margin: 0 auto;
			}
		}
	}

	li {
		a {
			border-radius: var(--border-radius-small);
			color: var(--color-text);
			display: block;
			margin: var(--spacing-small);
			padding: var(--spacing-std);
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				color: var(--bgc-button);
			}
		}

		a.active {
			background-color: var(--bgc-button);
			color: var(--color-button);
		}
	}
}

.nav_main {
	background-color: var(--bgc-box-std);
	border-radius: var(--border-radius-std);
	border: var(--border-std);
	box-sizing: border-box;
	height: calc(100% - 2 * var(--spacing-small));
	padding-top: 0.5rem;
	margin: var(--spacing-small);
	position: fixed;
	text-align: center;
	width: var(--nav-main-width);
}
