figure.table {
	margin: 0;
	overflow-x: scroll;
	height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1rem;
	text-indent: 0;
	position: relative;
	width: 100%;

	audio {
		position: relative;
		width: 100px;
	}
}

tr:nth-child(even) {
	background-color: var(--color-table-row);
}

thead th {
	background-color: var(--color-white);
	border-bottom: 2px solid var(--color-muted);
	position: sticky;
	top: 0;
	font-size: 1.1rem;
}

th,
td {
	padding: var(--spacing-small) calc(var(--spacing-small) * 2);
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;

	tbody & {
		border-bottom: 1px solid var(--color-muted);
	}

	&.Sound {
		max-width: 100px;
	}

	&.AnsweredRight,
	&.Interval,
	&.Lapses,
	&.DueDate {
		text-align: right;
	}

	&.DueDate {
		white-space: nowrap;
	}
	&.Description {
		white-space: pre;
	}
}
